.hero-container {
  min-height: 95vh;

  background-image: url("/public/images/sittingroom.jpg");
  background-size: cover;
  position: relative;
  z-index: 0;
}

.hero-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(9, 6, 4);

  opacity: 0.4;
  z-index: 1;
}
